@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans:wght@200&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    /* position: absolute; */
    background-color: rgb(192, 185, 185);
    /* width: 400px; */
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 42px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(98, 18, 18);
}

.main {
    /* background-color: yellow; */
    width: 80vw;
}

.container {
    display: flex;
}

.infoContainer{
    /* background-color: rgb(205, 50, 182); */
    height: 57vh;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img{
    width: 353px;
    height: 57vh;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 40px;
    font-family: 'Source Code Pro', monospace;
    margin-left: 20px;
}

.name{
    font-size: 45px;
    font-weight: bolder;
    padding-bottom: 7px;
    margin-left: 20px;
}

.about{
    font-size: 30px;
    padding-bottom: 7px;
    margin-left: 20px;
}

.moreabout{
    font-size: 20px;
    padding-bottom: 27px;
    margin-left: 20px;
    margin: 16px;
}

.button{
    margin-top: 7px;
    margin-left: 64px;
    margin-bottom: 7px;
}

.button button{
    padding: 9px 14px;
    border-radius: 25px;
    color: white;
    background-color: brown;
    margin: 0 3px;
    font-weight: bold;
    font-size: 22px;
    margin: 0 3px;
    cursor: pointer;
}

.button button:hover{
    background-color: white;
    color: dodgerblue;
}

.contactform{
    font-family: 'Noto Sans', sans-serif;
    padding-top: 30px;
    margin: 55px 100px  0;
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

.contactform form div{
    padding: 7px 0;
    margin: 6px 0 0 0;
}

.contactform form div input{ 
    margin: 6px 0;
    border-radius: 5px;
}

#emailHelp{
    font-size: 7px;
    color: midnightblue;
    margin: 0 5px;
}

.intro h2{
    font-size: 33px;
    font-family: 'Source Code Pro', monospace;
    margin: 0 22px;
    color: rgb(226, 171, 43);
}


.intro h3{
    font-family: 'Source Code Pro', monospace;
    margin: 0 22px;
    color: rgb(3, 33, 50);
}

.intro p{
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0 22px;
    color: rgb(10, 79, 197);
}

.skillcontainer{
    padding: 22px;
}

.skillitem{
    display: flex;
    align-items: center;
}

.skill{
    background-color: red;
    height: 6px;
    width: 437px;
}

.seventy{
    width: 300px;
}

.sixty{
    width: 275px;
}

.seven5{
    width: 350px;
}

.fifty{
    width: 200px;
}

.sidebarGo{
    transform: translate(-182px 0px); 
    position: absolute;
}

.menubar{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross{
    margin-left: 144px;
}

@media (max-width: 1216px) {
     .sidebar{
        transform: translate(-182px 0px); 
        /* position: absolute; */
    } 

}